-basePath = basePath || ""

-
  projectsSubmenu = [
    ["Computer-Aided Design", "computer-aided-design"],
    ["Laser Cutter", "laser-cutter"],
    ["PCB Production", "pcb-production"],
    ["3D Printing", "3d-printing"],
    ["Shop Bot", "shop-bot"],
    ["Circuit Design", "circuit-design"],
    ["Molding and Casting", "molding-and-casting"],
    ["Embedded Programming", "embedded-programming"],
    ["Output Devices", "output-devices"],
    ["Input Devices", "input-devices"],
    ["Interface Programming", "interface-programming"],
    ["Machine Making", "machine-making"],
    ["Laser Keyset", "laser-keyset"],
  ]

#navigation-bar
  ul#navigation-menu
    li#navigation-menu-home.navigation-menu
      a(href='#{basePath || "."}') Home
    li#navigation-menu-projects.navigation-menu
      a(href='#') Projects
      ul#projects-submenu
        each item in projectsSubmenu
          li.projects-submenu
            a(href='#{basePath}#{item[1]}') #{item[0]}
    li#navigation-menu-about.navigation-menu
      a(href='#{basePath}about') About
    li#navigation-menu-mas863.navigation-menu
      a(href='http://fab.cba.mit.edu/classes/863.15/') MAS.863
#navigation-bar-shadow
