extends ../jade/page.jade

block basePath
  -basePath = "../"

block relativePath
  -relativePath = "machine-making/"


block imgPath
  -imgPathGlobal = basePath + "img/"
  -imgPath = "../machine-group-project/files/"

block content
  h1 Machine Making
  p My Harvard teammates and I made a 3-axis cake icing machine. It was really impressive! There were wonderfully designed icing pumps and extruders among many delights - you can #[a(href='../machine-group-project/') check it out here]. I made a python user interface to draw toolpaths for the machine.
  .multi-image
    .w190
      img(src='#{imgPath}Extruding%20Frosting%20with%20Balloon%20and%20Peristaltic%20Pump1.jpg')
    .w190
      img(src='#{imgPath}End%20Effector%20Assembled.png')
    .w190
      img(src='#{imgPath}Final%20End%20Effector%20System.jpg')
  img(src='#{imgPath}chassis/IMG_1026.jpg')
  img(src='#{imgPath}Drawing%20UI.jpg')
